
.Navbar-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 273px;
    padding: 6px;
    width: 100vw;
    margin: 0 auto;
    /* margin-top: 3px; */
    box-shadow: 3px 3px 5px rgba(170, 170, 170, 0.7);

}
.logo img{
    width: 74px;
    height: 44px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: 19px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.list p{
    font-size: 12pxpx;
    font-weight:500;
}
.login{
    width: 66px;
    height: 28px;
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
}
.login:hover{
    background-color: red;

}